<!DOCTYPE html>
<html>
	<head>
		<%- include ../partials/stylesheets.ejs %>
		<style type="text/css">
			label {
				min-width: 100px;
			}
		</style>
		<script>
			$(document).ready(function(){
				$('[data-toggle="tooltip"]').tooltip();
			});
		</script>
	</head>
	<body>
		<!-- Form container -->
		<div class="border border-primary rounded container-fluid" style="margin: 10px">
			<form novalidate>
				<legend>Results Verification Page Scott Penn</legend>
				<hr class="style1">
				<!-- First and Last Names -->
				<div class="form-group row">
					<label for="firstName" class="col-form-label col-1 offset-1">First Name: </label>
					<div class="col-3">
						<p class="col-form-label"><%= firstName %></p>
					</div>
					<label for="lastName" class="col-form-label col-1">Last Name: </label>
					<div class="col-3">
						<p class="col-form-label"><%= lastName %></p>
					</div>
				</div>
				<!-- Address -->
				<div class="form-group row">
					<label for="address" class="col-form-label col-1 offset-1">Address: </label>
					<div class="col-3">
						<p class="col-form-label"><%= address %></p>
					</div>
					<hr/>
				</div>
				<div id="map" class="offset-1" style="border: solid; height: 400px; width: 400px">
				</div>
				<script>
					function initMap() {
						var myLatLng = {lat: <%- map.latitude %>, lng: <%- map.longitude %>};
						// Create a map object and specify the DOM element
						// for display.
						console.log(<%- map.latitude %>, <%- map.longitude %>)
						var map = new google.maps.Map(document.getElementById('map'), {
							center: myLatLng,
							zoom: 15
						});
						console.log(map)
						// Create a marker and set its position.
						var marker = new google.maps.Marker({
							map: map,
							position: myLatLng,
							title: 'Your Address'
						});
					}
				</script>
				<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJFb4ebK3wNtSWpt83Ha4HUOWaft55GUY&callback=initMap"
				async defer></script>
				<hr class="style1">
				<!-- Education Level -->
				<div class="form-group row">
					<label for="education" class="col-form-label col-1 offset-1">Education Level: </label>
					<div class="col-3">
						<p class="col-form-label"><%= education %></p>
					</div>
				</div>
				<!-- Income -->
				<div class="form-group row">
					<label for="income" class="col-form-label col-1 offset-1">Income: </label>
					<div class="col-3">
						<p class="col-form-label"><%= income %></p>
					</div>
				</div>
				<hr class="style1">
				<!-- Phone and Email -->
				<div class="form-group row">
					<label for="phone" class="col-form-label col-1 offset-1">Phone Number: </label>
					<div class="col-3">
						<p class="col-form-label"><%= phone %></p>
					</div>
					<label for="email" class="col-form-label col-1">Email Address: </label>
					<div class="col-3">
						<p class="col-form-label"><%= email %></p>
					</div>
				</div>
				<hr class="style1">
				<!-- Password -->
				<div class="form-group row">
					<label for="password" class="col-form-label col-1 offset-1">Password: </label>
					<div class="col-3">
						<p class="col-form-label" data-toggle="tooltip" title="<%= password %>">Hover for Password</p>
					</div>
				</div>
				<hr class="style1">
			</form>
		</div>
		<%- include ../partials/scripts.ejs %>
	</body>
</html>